@import '../../styles/mixin.scss';

.typelist.m-panel {
    background-color: #fff;
    padding: 24px;
    margin-top: 0;
    position: relative;
    // box-shadow: $box-shadow-panel;

    .m-panel {
        background-color: #fff;
        padding: 24px 10px;
        margin-top: 0;
        position: relative;
        min-height: 2rem;
        // box-shadow: $box-shadow-panel;
    }

    .btn-container {
        text-align: right;
        position: absolute;
        z-index: 100;
        right: 10px;
        top: -12px;
    }



    .member-opration {
        .btn-danger {
            margin-left: .08rem;
            // background-color: transparent;
            border-color: transparent;
        }

        .btn-default {
            margin-right: .08rem;
            background-color: #f7f7f7;
            border-color: transparent;
        }
    }

    .m-user {
        display: flex;
        align-items: center;

        .m-user-img {
            width: .32rem;
            height: .32rem;
            border-radius: .04rem;
        }
    }

    .usernameauth {
        line-height: 36px;
    }

    th {
        font-size: 16px;
        font-weight: bold;
    }

    .typepanel-column,
    .member-opration {
        padding: 10px 20px;
    }

    .typepanel-column {
        cursor: pointer;
    }
}

.area-split {
    border: 1px solid rgb(243, 243, 243);
    margin-top: 10px;
}

.modal-row {
    display: flex;
    align-items: center;
    margin-bottom: .24rem;

    .label {
        text-align: right;
    }

    .typenamelabel {
        text-align: left;
    }

}